:root {
    --color-backgroud: #f8f4ee;
    --color-header: linear-gradient(to bottom, #3c444c 0%, #f8f4ee 100%);
    --color-footer: linear-gradient(to top, #3c444c 0%, #f8f4ee 100%);
    --font-body: 'Bad Script', cursive;
    --font-title: 'Fasthand', cursive;;
    background-color: var(--color-backgroud);
    
}

* {
    /* outline: auto red; */
    margin: 0;
    
}

/* HEADER CONTENT */

#header {
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-header);
}

.header-content {
    height: 100%;
    width: 50%;
    z-index: 10;
}

.header-content img {
    object-fit: fill;
}

.right img {
    transform: rotateZ(180deg);
    margin-left: -1em;
}

.left img {
    margin-right: -1em;
}

/* SIDE CONTENT */

#sider {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: aquamarine; */
}

.side-content {
    width: 30%;
    margin-top: calc(-25%);
    z-index: 1;
    
}

.side-content img {
    object-fit: cover;
    
}

.left-side img {
    transform: rotateY(180deg);
}

/* BODY CONTENT */

#body {
    display: flex;
    justify-content: center;
    flex-flow: column;
    /* background-color: dodgerblue; */
}

/* PARAGRAPHS */

.paragraph {
    font-family: var(--font-body);
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 3rem;
}

.first-paragraph {
    display: flex;
    flex-flow: column;
    align-items: center;   
    margin-top: calc(-10%);
    font-family: var(--font-title)
    
}

.second-paragraph {
    display: flex;
    justify-content: center;
    flex-flow: row;
    /* outline: auto red; */
}

.second-paragraph div {
    display: flex;
    flex-flow: column;
    /* outline: auto blue; */
}

.second-paragraph div div {
    /* outline: auto yellow; */
    display: flex;
    align-items: center;
}




/* DIVISORES */

.separador {
    content: "";
    height: 6em;
    width: 2px;
    background-color: black;
    margin: 1em;
}


/* BUTTON */

.button{
    background-color: rgba(0, 0, 0, 0);
    color: yellowgreen;
    font-weight: 700;
    font-size: 1.2em;
    border: 2px solid red;
    border-radius: 5px;
    padding: 10px 40px;
    margin: 40px 0;
}

.button:hover{
    background-color: blue;
    color: black;
    
}

#footer {
    height: 4rem;
    background: var(--color-footer);
    display: flex;
    justify-content: center;
    outline: auto red;
}

.footer-content {
    height: 100%;
    width: 40%;
    /* z-index: 10; */
    /* outline: auto red; */
}

.footer-content img {
    object-fit: fill;
    margin-top: -3rem;
}

.left-footer img {
    transform: rotateY(180deg);
}

.right-footer img {
    transform: rotate3d(180, 200, 0);

}

