:root {
    --color-backgroud: #f8f4ee;
    --color-header: linear-gradient(to bottom, #3c444c 0%, #f8f4ee 100%);
    --color-footer: linear-gradient(to top, #3c444c 0%, #f8f4ee 100%);
    --font-body: 'Bad Script', cursive;
    --font-title: 'Fasthand', cursive;;
    background-color: var(--color-backgroud);
}

* {
    /* outline: auto red; */
    margin: 0;
}

/* HEADER CONTENT */

#header {
    width: 100%;
    height: 8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-header);
}

.header-content {
    height: 100%;
    width: 50%;
    z-index: 10;
}

.header-content img {
    object-fit: fill;
}

.right img {
    transform: rotateZ(180deg);
    margin-left: -1em;
}

.left img {
    margin-right: -1em;
}

/* SIDE CONTENT */

#sider {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background-color: aquamarine; */
}

.side-content {
    width: 30%;
    margin-top: calc(-25%);
    z-index: 1;
    
}

.side-content img {
    object-fit: cover;
    
}

.left-side img {
    transform: rotateY(180deg);
}

/* BODY CONTENT */

#body {
    /* background-color: dodgerblue; */
}

/* FIRST PARAGRAPH */

.first-paragraph {
    display: flex;
    flex-flow: column;
    align-items: center;   
    margin-top: calc(-10%);
    font-family: var(--font-title)
    
}




#footer {
    height: 1rem;
    background: var(--color-footer);
}